<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Batik Ifawati</title>
    <link rel="stylesheet" href="/css/aboutUs.css">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="navbar">
            <div class="brand">
                <h1>BATIK <span>IFAWATI</span></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/menu-sale">SALE</a></li>
                    <li><a href="/menu-pria">PRIA</a></li>
                    <li><a href="/menu-wanita">WANITA</a></li>
                    <li><a href="/about-us">ABOUT US</a></li>
                    <li><a href="/admin/login">LOGIN</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Footer Section -->
    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <div class="brand">
                    <h2>BATIK <span class="highlight">IFAWATI</span></h2>
                </div>
                <p>&copy; 2024 Adit. All rights reserved.</p>
                <p>Design by ijamm</p>
            </div>
            <div class="footer-center">
                <h3>ABOUT US</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolorum, sint corporis nostrum, possimus unde eos vitae eius quasi saepe.</p>
            </div>
            <div class="footer-right">
                <div class="contact-info">
                    <h3>CONTACT INFO</h3>
                    <p><i class="icon-location"></i> Yogyakarta, 108</p>
                    <p><i class="icon-phone"></i> +62 1234189212</p>
                    <p><i class="icon-email"></i> ijammusyaf@gmail.com</p>
                </div>
                <div class="social">
                    <h3>SOCIAL</h3>
                    <a href="#"><i class="icon-instagram"></i></a>
                    <a href="#"><i class="icon-facebook"></i></a>
                    <a href="#"><i class="icon-twitter"></i></a>
                </div>
            </div>
        </div>
    </footer>

   
</body>
</html>